@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(#3182ce, #bee3f8);
  min-height: 100vh;
}
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero .hero-top {
  margin-top: 10rem;
}
.hero .hero-top img {
  border-radius: 50%;
  width: 200px;
  /* border: 7px solid white; */
  box-shadow: 0 4px 4px rgba(146, 161, 176, 0.15);
}
.hero .hero-mid .hero-name {
  font-size: 1.7rem;
  margin: 1rem 0;
}
.hero .hero-mid .hero-skills {
  margin-bottom: 2rem;
}

.hero .hero-mid .hero-btn {
  /* position: relative; */
  color: black;
  padding: 0.5rem 4rem;
  border: 1px solid #fff;
  border-radius: 0.7rem;
  background-color: #fff;
  font-weight: 700;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.hero .hero-mid .hero-btn svg {
  margin-left: 0.5rem;
}
.hero .hero-bottom {
  margin-top: 4rem;
}
.hero .hero-bottom a {
  color: black;
  margin: 0 1.5rem;
}
.hero .hero-bottom svg {
  font-size: 1.7rem;
}
.hero .hero-bottom svg:hover {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}
.about {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 19%;
}
.about .about-wrapper {
  border: 1px solid #fff;
  color: #fff;
  font-size: 0.8rem;
  padding: 2rem 6rem;
  font-weight: 100;
  line-height: 150%;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.about .about-wrapper .p-last {
  margin-bottom: 2rem;
}
.about .about-wrapper .btn-about {
  border: 1px solid #fff;
  background-color: #fff;
  color: #444;
  padding: 0.4rem 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.about .about-wrapper .btn-about svg {
  margin-right: 0.5rem;
}
@media screen and (min-width: 760px) and (max-width: 1000px) {
  .hero .hero-top img {
    width: 350px;
  }
  .hero .hero-mid .hero-name {
    font-size: 2.5rem;
  }
  .hero .hero-mid .hero-skills {
    font-size: 1.7rem;
  }
  .hero .hero-mid .hero-btn {
    padding: 0.7rem 3rem;
  }
  .hero .hero-bottom svg {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 750px) {
  .about {
    padding: 1.4rem 14%;
  }
  .about .about-wrapper {
    font-size: 0.7rem;
    padding: 1.5rem 1rem;
  }
  .about .about-wrapper .btn-about {
    padding: 0.5rem 1.2rem;
  }
}
